header{
    padding: 1.5rem 3rem;
}

header nav a {
    position: relative;
    text-decoration: none;
}

header nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--color-acento);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

header nav a:hover::after {
    width: 100%;
}

section{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    min-height: 80vh;   
}

h1{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

#uploadDoc {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.7rem;
    color: #ffffff;
    background-color: var(--color-naranja);
    padding: 0.7rem 1.3rem;
    border-radius: 10px;
    font-size: var(--size-p);
    transition: transform 0.25s ease, background-color 0.25s ease; /* suaviza crecimiento */
}

#uploadDoc span {
    display: inline-block;
    transition: transform 0.25s ease;
}

#uploadDoc:hover {
    transform: translateX(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.101);
}

.camposBiblioteca{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inputSearch{
    width: 70%;
}

#carreraSelect{
    width: 28%;
}

#contenedorDocsBiblioteca{
    display: grid;
    gap: 1.5rem;           
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 2rem;
}

#contenedorDocsBiblioteca article {
    border: 2px solid var(--color-primario);   
    border-radius: 18px;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    transition: 0.25s ease;
}

#contenedorDocsBiblioteca article:hover {
    border-color: var(--color-acento);
    cursor: pointer;
}

/* Título */
#contenedorDocsBiblioteca article h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #072A5A;
    margin: 0;
}

/* Descripción */
#contenedorDocsBiblioteca article p {
    font-size: var(--size-p);
    color: var(--color-primario);
    margin: 0;
}

#contenedorDocsBiblioteca article p:nth-of-type(2) {
    color: rgb(105, 105, 105);
}

/* Badge de carrera */
#contenedorDocsBiblioteca article h5 {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.3rem 0.9rem;
    border-radius: 20px;
    font-weight: 500;
    margin: 0.4rem 0;
    width: fit-content;
}

#contenedorDocsBiblioteca article h5:first-of-type{
    color: var(--color-primario);
    border: 2px solid var(--color-naranja);
}

.badge {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    border-radius: 50px;
    font-size: var(--size-p);
    font-weight: 600;
    color: var(--color-fondo-claro);
}

/*Si es Resumen→ naranja */
.badge.resumen {
    background-color: var(--color-naranja);  
}

/*Si es Documento→ azul */
.badge.documento {
    background-color: var(--color-acento);
}

.infodoc{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#addNota {
    margin-top: 2rem;
    background: var(--color-amarillo);
    color: var(--color-primario);
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    font-size: var(--size-p);
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #fff;
}

@media (max-width: 1024px) {

    header {
        padding: 1.5rem 2rem;
    }

    /* HEADER */
    header nav {
        display: none;
    }

    section {
        padding: 0 1.5rem;
    }

    #uploadDoc {
        padding: 0.6rem 1rem;
        font-size: 0.95rem;
    }

    .camposBiblioteca {
        flex-direction: column;
        gap: 1rem;
    }

    #inputSearch,
    #carreraDoc {
        width: 100%;
    }

    #contenedorDocsBiblioteca {
        grid-template-columns: repeat(2, 1fr); /* dos columnas se mantienen */
        gap: 1rem;
    }

    #addNota {
        width: 100%;
        text-align: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }

    footer .logoFooter {
        display: flex;
        justify-content: center;
    }

    footer div {
        text-align: center;
    }

    footer .iconos {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    section {
        padding: 0 1rem;
    }

    h1 {
        font-size: 1.8rem;
        margin-top: 3rem;
        text-align: center;
    }

    #uploadDoc {
        width: 100%;
        justify-content: center;
        padding: 0.6rem 0;
        font-size: 0.9rem;
    }

    .camposBiblioteca {
        flex-direction: column;
        gap: 0.8rem;
    }

    #inputSearch,
    #carreraDoc {
        width: 100%;
    }

    #contenedorDocsBiblioteca {
        grid-template-columns: 1fr; 
        gap: 1rem;
    }

    #contenedorDocsBiblioteca article {
        padding: 1rem;
    }

    #addNota {
        width: 100%;
        font-size: 0.9rem;
        padding: 0.5rem 0;
    }
}
