
section{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    min-height: 80vh;   
}

h1{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

#uploadDoc{
    display: flex;
    width: fit-content;
    gap: 0.7rem;
    color: #ffffff;
    background-color: #FF6B38;
    padding: 0.7rem 1.3rem;
    border-radius: 10px;
    font-size: var(--size-p);
}

.camposBiblioteca{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inputSearch{
    width: 70%;
}

#carreraSelect{
    width: 28%;
}

#contenedorDocsBiblioteca{
    display: grid;
    gap: 1.5rem;           
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 2rem;
}

#contenedorDocsBiblioteca article {
    border: 2px solid var(--color-primario);   
    border-radius: 18px;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    transition: 0.25s ease;
}

#contenedorDocsBiblioteca article:hover {
    border-color: var(--color-acento);
    cursor: pointer;
}

/* Título */
#contenedorDocsBiblioteca article h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #072A5A;
    margin: 0;
}

/* Descripción */
#contenedorDocsBiblioteca article p {
    font-size: 0.95rem;
    color: var(--color-primario);
    margin: 0;
}

/* Badge de carrera */
#contenedorDocsBiblioteca article h5 {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.3rem 0.9rem;
    border: 2px solid #FF6B38; /* azul Google style */
    border-radius: 20px;
    font-weight: 500;
    color: var(--color-primario);
    margin: 0.4rem 0;
    width: fit-content;
}



#addNota {
    background: #FFC52A;
    color: var(--color-primario);
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    font-size: var(--size-p);
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #fff;
}


