header{
    padding: 1.5rem 3rem;
}

header nav a {
    position: relative;
    text-decoration: none;
}

header nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--color-acento);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

header nav a:hover::after {
    width: 100%;
}

/*section 1*/
.infoPerfil, .misDocus{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    padding-bottom: 4rem; 
}

#divEditarUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    text-align: center; /* igual que en registro */
}

.avatares {
    width: 50%;
    max-width: 350px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
}

.avatarIcon {
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 100px;
    transition: transform 0.2s, border 0.2s, background 0.2s;
    border: 2px solid transparent;
}

.avatarIcon:hover {
    transform: scale(1.05);
}

.avatarIcon.selected {
    border: 3px solid var(--color-acento);
    transform: scale(1.1);
}

.inputsRegistro {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 2rem;
}

.inputsRegistro input,
.inputsRegistro select {
    width: 70%;
}

.guardardiv{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnEditarPerfil {   
    width: 40%;
    font-weight: 500;   
    font-family: inherit;                
    color: var(--color-fondo-claro);
    background-color: var(--color-primario);
    padding: 0.5rem 1.2rem;       
    border-radius: 15px;            
    font-size: var(--size-p);      
    text-decoration: none;        
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

#btnEditarPerfil:hover {
    background-color: var(--color-acento); 
}

h2{
    font-weight: 500;
}

#DeleteDocsUsuario{
    display: grid;
    gap: 1.5rem;           
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 2rem;
}

#DeleteDocsUsuario article{
    border: 2px solid var(--color-primario);   
    border-radius: 18px;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    transition: 0.25s ease;
}

#DeleteDocsUsuario article:hover {
    border-color: var(--color-acento);
    cursor: pointer;
}

/* Título */
#DeleteDocsUsuario article h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #072A5A;
    margin: 0;
}

/* Descripción */
#DeleteDocsUsuario article p {
    font-size: var(--size-p);
    color: var(--color-primario);
    margin: 0;
}

#DeleteDocsUsuario article p:nth-of-type(2) {
    color: rgb(105, 105, 105);
}

/* Badge de carrera */
#DeleteDocsUsuario article h5 {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.3rem 0.9rem;
    border-radius: 20px;
    font-weight: 500;
    width: fit-content;
}

#DeleteDocsUsuario article h5:first-of-type{
    color: var(--color-primario);
    border: 2px solid var(--color-naranja);
}

.cajita{
    display: flex;
    justify-content: end;
}

.btnEliminarDoc{
    font-weight: 500;   
    font-family: inherit;                
    color: var(--color-fondo-claro);
    background-color: var(--color-primario);
    padding: 0.5rem 1.2rem;       
    border-radius: 15px;            
    font-size: var(--size-p);      
    text-decoration: none;        
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: rgb(231, 48, 48);                     
}

.btnEliminarDoc:hover{
    border-color: rgb(231, 48, 48);    
    background-color: var(--color-fondo-claro);
}

@media (max-width: 1024px) {

    header {
        padding: 1.5rem 2rem;
    }

    /* HEADER */
    header nav {
        display: none;
    }

    .avatares {
        width: 100%;
        max-width: 300px;
    }
    .inputsRegistro {
        width: 100%;
        max-width: 450px;
        align-items: center;
    }
    .inputsRegistro input,
    .inputsRegistro select {
        width: 100%;
    }
    
    #divEditarUsuario {
        flex-direction: column; 
        text-align: center;
        align-items: center;
    }

    .guardardiv {
        justify-content: center;
    }

    #DeleteDocsUsuario {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }

    footer .logoFooter {
        display: flex;
        justify-content: center;
    }

    footer div {
        text-align: center;
    }

    footer .iconos {
        justify-content: center;
    }
}

@media (max-width: 768px) {

    h1, h2{
        text-align: center;
    }
    .avatares {
        max-width: 250px;
        gap: 1rem;
    }
    .avatarIcon {
        width: 90px;
        height: 90px;
    }

    .inputsRegistro {
        max-width: 300px;
        gap: 0.6rem;
    }

    .inputsRegistro input,
    .inputsRegistro select {
        width: 100%;
    }

    #DeleteDocsUsuario {
        grid-template-columns: 1fr;
    }

    #btnEditarPerfil {
        width: 60%;
    }
}