/*HEADER*/

header{
    padding: 1.5rem 3rem;
}

header nav a {
    position: relative;
    text-decoration: none;
}

header nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--color-acento);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

header nav a:hover::after {
    width: 100%;
}

/*Margen sections*/
.infoPerfil, .misDocs{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 45vh;  
}

.infoPerfil{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.infoUsuario{
    width: 80%;
}

.infoUsuario p:nth-of-type(2) {
    margin-bottom: 2rem;
}

.infoUsuario a {
    display: inline-flex;         
    align-items: center;      
    font-weight: 500;  
    gap: 0.5rem;                  
    color: var(--color-fondo-claro);
    background-color: var(--color-primario);
    padding: 0.5rem 1.2rem;       
    border-radius: 15px;            
    font-size: var(--size-p);      
    text-decoration: none;        
    transition: background-color 0.3s ease;
}

.infoUsuario a img {
    width: 30px;   
    height: 30px;
}

.infoUsuario a:hover {
    background-color: var(--color-acento); 
}

.botones{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#btnCerrarSesion {
    font-weight: 500;  
    font-family: inherit;
    gap: 0.5rem;                  
    color: rgb(231, 48, 48);          
    background-color: transparent;   
    padding: 0.5rem 1.2rem;       
    border-radius: 15px;        
    border: 2px solid rgb(231, 48, 48); 
    font-size: var(--size-p);      
    text-decoration: none;        
    transition: all 0.3s ease;
    cursor: pointer;
}

#btnCerrarSesion:hover {
    background-color: rgb(231, 48, 48); 
    color: var(--color-fondo-claro);                    
    border-color: rgb(231, 48, 48);     
}

h2{
    font-weight: 500;
}

#documentosUsuario{
    display: grid;
    gap: 1.5rem;           
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 2rem;
}

#documentosUsuario article {
    border: 2px solid var(--color-primario);   
    border-radius: 18px;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    transition: 0.25s ease;
}

#documentosUsuario article:hover {
    border-color: var(--color-acento);
    cursor: pointer;
}

/* Título */
#documentosUsuario article h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #072A5A;
    margin: 0;
}

/* Descripción */
#documentosUsuario article p {
    font-size: var(--size-p);
    color: var(--color-primario);
    margin: 0;
}

#documentosUsuario article p:nth-of-type(2) {
    color: rgb(105, 105, 105);
}

/* Badge de carrera */
#documentosUsuario article h5 {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.3rem 0.9rem;
    border-radius: 20px;
    font-weight: 500;
    margin: 0.4rem 0;
    width: fit-content;
}

#documentosUsuario article h5:first-of-type{
    color: var(--color-primario);
    border: 2px solid var(--color-naranja);
}

.badge {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    border-radius: 50px;
    font-size: var(--size-p);
    font-weight: 600;
    color: var(--color-fondo-claro);
}

/*Si es Resumen→ naranja */
.badge.resumen {
    background-color: var(--color-naranja);  
}

/*Si es Documento→ azul */
.badge.documento {
    background-color: var(--color-acento);
}

/* Tablet: hasta 1024px */
@media (max-width: 1024px) {

    header {
        padding: 1.5rem 2rem;
    }

    /* HEADER */
    header nav {
        display: none;
    }

    .infoPerfil {
        flex-direction: column;
        gap: 1.5rem;
        height: auto;
        padding: 0 1.5rem;
        align-items: center;
    }

    .infoUsuario {
        width: 100%;
        text-align: center;
    }

    .botones {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.8rem;
        width: 70%;
        margin: auto;
        margin-bottom: 4rem;
    }

    #documentosUsuario {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }

    footer .logoFooter {
        display: flex;
        justify-content: center;
    }

    footer div {
        text-align: center;
    }

    footer .iconos {
        justify-content: center;
    }
}

/* Mobile: hasta 768px */
@media (max-width: 768px) {

    h1{
        margin-bottom: 3rem;
    }
    .infoPerfil {
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem;
    }

    #ftPerfil {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .infoUsuario {
        width: 100%;
        text-align: center;
    }

    .infoUsuario a,
    #btnCerrarSesion {
        width: 100%;
        justify-content: center;
        font-size: 0.9rem;
        padding: 0.5rem 0;
    }

    .botones {
        flex-direction: column;
        gap: 0.8rem;
        align-items: center;
        margin-bottom: 3rem;
    }

    #documentosUsuario {
        grid-template-columns: 1fr; /* una columna en móvil */
        gap: 1rem;
    }

    #documentosUsuario article {
        padding: 1rem;
    }

    h2 {
        text-align: center;
        font-size: 1.5rem;
    }
}
