
/*--------HEADER REGISTRO-LOGIN---------*/
header {
    display: flex;
    padding: 1.5rem 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.7rem;
    color: var(--color-primario);
    text-decoration: none;
    font-weight: 800;
}

.logo img {
    height: 30px;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    a{
        font-size: var(--size-button-link);
        font-weight: 600;
    }
}

/*ayuda*/
nav a:first-child {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    padding: 0.3rem 1.7rem;          
    text-decoration: none;
    color: var(--color-primario);
    border-radius: 20px;                 
    border: 1px solid var(--color-primario);                           
    transition: 0.2s;
}

nav a:first-child:hover {
    background-color: var(--color-primario);
    color: #fff;
}

/* icono */
.material-symbols-outlined {
    font-size: var(--size-button-link);
}

/*contactanos*/
nav a:last-child:hover {
    color: var(--color-acento);
}

nav a:last-child {
    text-decoration: none;
    color: var(--color-primario);
}

/*--------REGISTRO---------*/

section {
    max-width: 1200px;    
    margin: 0 auto;       
    padding: 0 2rem;      
}

.campoRegistro {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/*----AVATAR----*/
.avatares {
    width: 50%;
    max-width: 350px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.avatarIcon {
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 100px;
    transition: transform 0.2s, border 0.2s, background 0.2s;
    border: 2px solid transparent;
}

.avatarIcon:hover {
    transform: scale(1.05);
}

/*del avatar seleccionado*/
.avatarIcon.selected {
    border: 3px solid var(--color-acento);
    transform: scale(1.1);
}

/*----INPUTS----*/
.inputsRegistro{
    width: 50%; 
    display: flex;
    flex-direction: column;
    gap: 0.8rem; 
    margin-top: 2rem; 
}

.inputsRegistro input, 
.inputsRegistro select {
    width: 70%;
    box-sizing: border-box;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    padding: 0.7rem; 
    font-size: var(--size-p);
    border: 1px solid var(--color-primario); 
    border-radius: 5px; 
    color: var(--color-primario);
    background-color: var(--color-fondo-claro); 
    outline: none; 
}

#selectCarrera option {
    padding: 0.7rem;
    background-color: var(--color-fondo-claro);
    color: var(--color-primario);
    font-size: var(--size-p);
}

/*focus */
.inputsRegistro input:focus, 
.inputsRegistro select:focus {
    border-color: var(--color-acento); 
    background-color: #fff;
    box-shadow: 0 0 3px  var(--color-acento);
}

/*botón de registro */
#btnRegistrarme {
    background-color: var(--color-boton-oscuro); 
    color: #fff;
    border: none;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: var(--size-button-link);
    margin-top: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 50%; 
}

#btnRegistrarme:hover {
    background-color: var(--color-primario); 
}

/*Estilos para el texto y enlace de inicio de sesion */
.inputsRegistro p {
    font-size: var(--size-p);
    color: var(--color-primario);
    text-align: left;
}

.inputsRegistro a {
    font-size: var(--size-p);
    font-weight: 700;
    color: var(--color-acento); 
    text-decoration: none;
    text-align: left;
    margin-top: -1rem; 
}

.inputsRegistro a:hover {
    text-decoration: underline;
}