@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&display=swap');

:root {
    --color-primario: #000d23;
    --color-link: #374151;
    --color-acento: #007bff;
}

body {
    font-family: 'Noto Sans Thai Looped', sans-serif;
    background-color: #fcf8f0; 
}

/*--------HEADER REGISTRO-LOGIN---------*/

header {
    display: flex;
    padding: 1.5rem 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.7rem;
    color: var(--color-primario);
    text-decoration: none;
    font-weight: bold;
}

.logo img {
    height: 30px;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    a{
        font-size: 1em;
        font-weight: 700;
    }
}

/*ayuda*/
nav a:first-child {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    padding: 0.3rem 1.7rem;          
    text-decoration: none;
    color: var(--color-primario);
    border-radius: 20px;               
    border: 1px solid var(--color-primario);                          
    transition: 0.2s;
}

nav a:first-child:hover {
    background-color: var(--color-primario);
    color: #fff;
}

/* icono */
.material-symbols-outlined {
    font-size: 16px;
}

/*contactanos*/
nav a:last-child:hover {
    color: var(--color-acento);
}

nav a:last-child {
    text-decoration: none;
    color: var(--color-primario);
}

/*--------REGISTRO---------*/

section {
    max-width: 1200px;    
    margin: 0 auto;       
    padding: 0 2rem;     
}

h1{
    font-size: 3rem;
    color: var(--color-primario);
}

.campoRegistro {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}

/*----AVATAR----*/
.avatares {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 3rem; 
    width: 40%;
}

.avatarIcon {
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 100px;
    transition: transform 0.2s, border 0.2s, background 0.2s;
    border: 2px solid transparent;
}

.avatarIcon:hover {
    transform: scale(1.05);
}

/*del avatar seleccionado*/
.avatarIcon.selected {
    border: 3px solid var(--color-acento);
    transform: scale(1.1);
}

.inputsRegistro{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

