@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}

:root {
    --color-primario: #001435;  
    --color-link: #FFFFF380;
    --color-acento: #007bff; 
    --color-fondo-claro: #fcf8f0; 
    --color-boton-oscuro: #000d23; 

    --size-h1: 3rem;
    --size-h2: 1.7rem;
    --size-h3:1.2rem;
    --size-button-link: 1rem;
    --size-p: 0.9rem;
}

body {
    font-family: 'Noto Sans Thai Looped', sans-serif;
    background-color: var(--color-fondo-claro); 
    overflow-x: hidden;
}

h1{
    font-size: var(--size-h1);
    color: var(--color-primario);
    font-weight: 600;
    margin-bottom: 0.3rem; 
    line-height: 1.3;
}

h2 {
    font-size: var(--size-h2);
    color: var(--color-primario);
    font-weight: normal; 
}

h3{
    font-size: var(--size-h3);
    font-weight: normal;
}

p{
    font-size: var(--size-p);
}

/*Header*/
header {
    display: flex;
    padding: 1.5rem 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.7rem;
    color: var(--color-primario);
    text-decoration: none;
    font-weight: 800;
}

.logo img {
    height: 30px;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;

    a{
        font-size: var(--size-button-link);
        font-weight: 600;
        color: var(--color-primario);
    }
}

/*contenedor foto perfil*/
.avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/*inputs*/
input, select{
    font-family: 'Noto Sans Thai Looped', sans-serif;
    padding: 0.7rem; 
    font-size: var(--size-p);
    border: 1px solid var(--color-primario); 
    border-radius: 5px; 
    color: var(--color-primario);
    background-color: var(--color-fondo-claro); 
    outline: none; 
}

input:focus, select:focus{
    border-color: var(--color-acento);
    background-color: #fff;
    box-shadow: 0 0 3px var(--color-acento);
}

/*FOOTER*/
footer{
    display: flex;
    padding: 4rem 3.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    color: var(--color-link);
    margin-top: 5rem;
    
    a{
        color: var(--color-link);
    }

    img{
        height: 35px;
    }
}

.iconos{
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
}

.iconos img{
    height: 30px;
}
